@media (max-width: 614px) {
  h2 {
    margin: 14px 14px 0 14px;
  }
  .page-title {
    font-size: 2em;
  }
  .container {
    margin: 20px;
  }

  .box-property {
    display: flex;
    flex-basis: content;
    margin-bottom: 1.5em;
    align-items: flex-start;
  }

  .box-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
