@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Spline Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.box {
    border-radius: 15px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
}

.box-psw {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    height: 50px;
}

.box-property {
    height: 230px;
    display: flex;
    flex-direction: column;
}

.box-form{
    display: flex;
}

.control-style {
    background-color:whitesmoke; 
    border: none;
    padding: 15px 215px 15px 15px ; 
    outline: none;
    border-radius: 15px;
}

.box-bg {
    background-color: whitesmoke;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.page-title{
  font-size: 3em;
}

fieldset{
    border: none;
}
h2{
    margin:0;
}