@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Spline Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root{
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.box {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border:none;
    background-color: whitesmoke;
}
.box-wrapper {
    display: flex;
    flex-direction: column;
    min-width: min(540px, 100%);
}

.box-psw {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    height: 50px;
}

.box-property {
    height: 230px;
    display: flex;
    flex-direction: column;
}

.box-form{
    display: flex;
}

.control-style {
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 100%;
    margin-right: 10px;
    font-size: 25px;
}

.box-bg {
    background-color: whitesmoke;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.page-title{
  font-size: 3em;
  text-align: center;
}

fieldset{
    border: none;
}
h2{
    margin:0;
}